* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

button:active {
    background-color: #ddd;
}

button.clearDisplay {
    grid-column: span 4; 
}

button.backspace {
    grid-column: span 4; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.display {
    width: 300px; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-align: right;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns*/
    width: 300px;
}

.calculator button {
    width: 100%; 
}


button.operator{
    background-color: orange;
}